certifi==2022.12.7
charset-normalizer==3.0.1
filelock==3.9.0
functiondefextractor==0.1.2
graphviz==0.8.4
huggingface-hub==0.12.0
idna==3.4
mxnet-mkl==1.6.0
numpy==1.23.1
packaging==23.0
pandas==1.0.5
Pillow==9.4.0
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0
regex==2022.10.31
requests==2.28.2
six==1.16.0
tokenizers==0.13.2
--extra-index-url https://download.pytorch.org/whl/cpu
torch==1.13.1+cpu
torchaudio==0.13.1+cpu
torchvision==0.14.1+cpu
tqdm==4.64.1
transformers==4.26.0
typing_extensions==4.4.0
urllib3==1.26.14
xlrd==1.2.0
XlsxWriter==1.2.1
